
#promo-slider
{
	
	//background: orange;
	
}
.slides{
	display: inline-block;
}

.slides
{
	
	
.iphone-text 
{
	//background: green;
	
	
}

.iphone-textimage
{
	
	
}
.iphone-description
{
	
}
.iphone
{
	
	
}

.iphone-image
{
	min-height: 200px;
}
}


.second-slide
{

	display: inline-block;
	//overflow:hidden;
}
.second-slide{


.ipad-text
{
	
	
}

.ipad-textimage
{
	
	
}

.ipad-description
{
	
}
.ipad
{
	
	

}
.ipad-image
{
	

}
}



.circle-links
{
	position: relative;
	bottom: -220px;
	text-align: center;
	z-index: 3;
	
}

.circle-link
{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgba(0,0,0,0.8);
	display: inline-block;
	margin:  0 10px;
	opacity:.5;
	-webkit-font-smoothing: antialiased;	
}

.circle-hover
{
	opacity: .8;
}
.circle-click 
{
	background:none;
	border: 1.8px solid #66CCFF;
}










	