body
{
	//overflow:hidden;
}


.promo-image
{
	
	position: relative;
	width: 100%;
	left: 0;
	//background: orange;
	//display: flex;
	height: auto;
	top:175px;
	//background: pink;


}

.first-slide
{
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	z-index:1;
	//background:green;
	

.iphone-text 
{
	//background: red;
	top: -80px;
	width: 100%;
	height: 45px;
	
}

.iphone-textimage
{
	width: 210px;
	min-height: 10px;
	max-height: 44px;
	
}
.iphone-description
{
	position: relative;
	top: px;
	font-family: $font-stack;
	-webkit-font-smoothing: antialiased;
	font-size: 28px;
	font-weight: 200;
	color: rgba(0,0,0,0.8);

}
.iphone
{

}

.iphone-image
{
	min-height: 200px;


}
}




.circle-links
{
	position: relative;
	bottom: -10px;
	text-align: center;
	z-index: 5;
	//background: gold;
	
}

.circle-link
{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgba(0,0,0,0.8);
	display: inline-block;
	margin:  0 10px;
	opacity:.5;
	-webkit-font-smoothing: antialiased;	
}

.circle-hover
{
	opacity: .8;
}
.circle-click 
{
	background:none;
	border: 1.8px solid #66CCFF;
}










	