body
{
	//overflow:hidden;
}
.promo-content
{
	width:100%;  
	//background:red;
	padding-top:40px;
	//overflow:hidden;
	position:relative;
	top:150px;
	text-align:center;

}
.promo-image
{
	
	position: relative;
	width: 100%;   //change to 200 when implementing slider
	//left: 0;
	//background: orange;
	display: flex;
	height: auto;
	max-height: 600px;
	text-align:center;
	
	//display: inline-block;
	//background: pink;


}

.display-1
{
	max-height: 600px;

}
.first-slide
{
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	z-index:0;

	//display: inline-block;

	//background:green;
	

.iphone-textimage
{
	top: -40px;
	width: 210px;
	min-height: 10px;
	max-height: 44px;
	
}
.iphone-description
{
	position: relative;
	top:-30px;
	font-family: $font-stack;
	-webkit-font-smoothing: antialiased;
	font-size: 28px;
	font-weight: 200;
	color: rgba(0,0,0,0.8);

}
.iphone
{
	overflow:visible;
	background-image: url("http://images.apple.com/v/home/cn/images/heros/iphone_6s_medium_2x.jpg");
	background-size: 1400px 389px;
	background-position: 0 0;
	border: 1px  solid red;
	width: 1400px;
    height: 389px;
    margin: 0 auto;
    left:auto;
    


}

.iphone-image
{
	min-height: 200px;


}
}
 .display-2
{
	position: relative;
	top: -30px;
	display: none;    //comment out when working with slider
	//display: inline-block;

}
.second-slide
{
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	z-index:1;


	//background:green;
	

.ipad-textimage
{
	top: -40px;
	width: 210px;
	min-height: 10px;
	max-height: 42px;
	
}
.ipad-description
{
	position: relative;
	top:-30px;
	font-family: $font-stack;
	-webkit-font-smoothing: antialiased;
	font-size: 28px;
	font-weight: 200;
	color: rgba(0,0,0,0.8);

}
.ipad
{

}

.ipad-image
{
	min-height: 200px;


}
}

.circle-links
{
	position: relative;
	
	text-align: center;
	z-index: 5;
	//background: gold;
	
}

.circle-link
{

	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgba(0,0,0,0.8);
	display: inline-block;
	margin:  0 10px;
	opacity:.5;
	-webkit-font-smoothing: antialiased;	
}

.circle-hover
{
	opacity: .8;
}
.circle-click 
{
	background:none;
	border: 1.8px solid #66CCFF;
}










	