.promo-bar
{
	position:relative;
	top:160px;
	width: 100%;
	//background:orange;
	height: auto;
	margin-top: 10px;
	display:flex;
	flex-wrap: wrap;
	margin: 0 auto;
	
	max-width: 2560px;
}

.promo-bar div
{
	
	height: 200px;
	width: auto;
	border-bottom:2px solid #fff;
	max-height: 210px;
}


@media (min-width: 42em)
{
	.promo-bar div
	{
		width: 50%;
		
	}
	.promo-item-1
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/back_to_school_medium_2x.jpg");
		background-position: center center;
	}
	.promo-item-2
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/apple_tv_medium_2x.jpg");
		background-position: center center;
	}
	.promo-item-3
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/accessories_medium_2x.jpg");
		background-position: center center;
		background-repeat: no-repeat;
	}
	.promo-item-4
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/teaser_wwdc_2016_medium_2x.jpg");
		background-position: center center;
	}
}
@media (min-width: 65em) and (max-width: 1428px)
{
 .promo-bar div
 	{
     width: 25%;
	}
	.promo-item-1
	{
		background-size: 360px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/back_to_school_large_2x.jpg");
		background-position: center center;
	}
	.promo-item-2
	{
		background-size: 360px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/apple_tv_large_2x.jpg");
		background-position: center center;
	}
	.promo-item-3
	{
		background-size: 360px 200px;
		white-space: nowrap;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/accessories_large_2x.jpg");
		background-position: center center;
		background-repeat: no-repeat;
	}
	.promo-item-4
	{
		background-size: 360px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/teaser_wwdc_2016_large_2x.jpg");
		background-position: center center;
		background-repeat: no-repeat;
	}
	
}
@media (min-width: 0em) and (max-width: 736px)
{
	.promo-bar div
	{
		width: 100%;
	}
	.promo-item-1
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/back_to_school_small_2x.jpg");
		background-position: center center;
	}
	.promo-item-2
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/apple_tv_small_2x.jpg");
		background-position: center center;
	}
	.promo-item-3
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/accessories_small_2x.jpg");
		background-position: center center;
		background-repeat: no-repeat;
	}
	.promo-item-4
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/teaser_wwdc_2016_small_2x.jpg");
		background-position: center center;
	}
}


@media( min-width: 1428px)
{
	 .promo-bar div
 	{
     width: 25%;
	}
	.promo-item-1
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/back_to_school_medium_2x.jpg");
		background-position: center center;
	}
	.promo-item-2
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/apple_tv_medium_2x.jpg");
		background-position: center center;
	}
	.promo-item-3
	{
		background-size: 640px 200px;
		white-space: nowrap;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/accessories_medium_2x.jpg");
		background-position: center center;
		background-repeat: no-repeat;
	}
	.promo-item-4
	{
		background-size: 640px 200px;
		background-image:  url("http://images.apple.com/v/home/cn/images/promos/teaser_wwdc_2016_medium_2x.jpg");
		background-position: center center;
		background-repeat: no-repeat;
	}

}

